<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>

</head>
<body>
  <main>
      
    <ol>
      <li v-for="pelicula in peliculas">{{ pelicula }}</li>
    </ol>
    <hr>
    
    <h1>{{ texto }}</h1>
    <h3 v-text="texto"></h3>
    <hr>
    
    <input type="text" v-model="nombre">
    <p> {{ nombre }} </p>
    <hr>
    
    <pre> {{ $data }} </pre>
    <hr>

    <input type="text" v-model="nota">
    <p v-if="nota >= 9 && nota <= 20"> muy buena calificación: {{nota}} </p>
    <p v-else-if="nota >= 20"> excelente calificación: {{nota}} </p>
    <p v-else> reprobado, por que tu calificación es: {{nota}} </p>
  </main>
    
  <script src="https://unpkg.com/vue@2.5.3/dist/vue.js"></script>
  <script src="js/main.js"></script>
</body>
</html>