<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>

</head>
<body>
  <main>
      
    <ul>
      <li v-for="(fruta, index) in frutas">
        {{ index }} - {{ fruta.name }} - {{ fruta.size }} - {{ fruta.price }}
      </li>
    </ul>
    <hr>
    
    <p>bucle for</p>
    <ol>
      <li v-for="pelicula in peliculas">{{ pelicula }}</li>
    </ol>
    <hr>

    <p>directiva if</p>
    <input type="text" v-model="nota">
    <p v-if="nota >= 9 && nota <= 20"> muy buena calificación: {{nota}} </p>
    <p v-else-if="nota >= 20"> excelente calificación: {{nota}} </p>
    <p v-else> reprobado, por que tu calificación es: {{nota}} </p>
    <hr>

    <p>variables normales</p>
    <h1>{{ texto }}</h1>
    <h3 v-text="texto"></h3>
    <hr>
    
    <p>two way data binding / bidireccional</p>
    <input type="text" v-model="nombre">
    <p> {{ nombre }} </p>
    <hr>

    <p>imprimit arreglo</p>
    <pre> {{ $data }} </pre>



  </main>
    
  <script src="https://unpkg.com/vue@2.5.3/dist/vue.js"></script>
  <script src="js/main.js"></script>
</body>
</html>