<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>

</head>
<body>
  <p>Instancias</p>
  <div id="vue2">
    <p>{{ texto }}</p>
  </div>
  <div id="vue3">
    <p>{{ texto }}</p>
  </div>
  <hr>
  <main>
    <p>Search / filters</p>
    <input type="search" v-model="find_word">
    <ol>
      <li v-for="(fruta, index) in filterFrutas">
        {{fruta.name | uppercase}}
      </li>
    </ol>
    <hr>
    <p>Computed</p>
    <h3>{{ concatenate }}</h3>
    <ol>
      <li v-for="(pelicula, index) in orderBy"> {{pelicula}}</li>
    </ol>
    <hr>
    <p>Metodos</p>
    <ol>
      <li v-for="(pelicula, index) in peliculas">{{ pelicula }} - <button @click="deleteMovie(index)">delete movie</button></li>
    </ol>
    <form @submit.prevent="addMovie()">
      <input type="text" v-model="new_movie">
      <input type="submit" value="Add Movie">
    </form>
    <!--
      <button v-on:click="addMovie()">add movie</button>
      <button @click="deleteMovie()">delete movie</button>
    -->
    <hr>
    
    <p>Objeto</p>
    <ul>
      <li v-for="(value, key, index) in superfruta">
        {{ index }} : {{ key }} -> {{ value }}
      </li>
    </ul>
    <hr>
    
    <p>Array de objeto</p>
    <ul>
      <li v-for="(fruta, index) in frutas">
        {{ index }} - {{ fruta.name }} - {{ fruta.size }} - {{ fruta.price }}
      </li>
    </ul>
    <hr>
    
    <p>bucle for</p>
    <ol>
      <li v-for="pelicula in peliculas">{{ pelicula }}</li>
    </ol>
    <hr>

    <p>directiva if</p>
    <input type="text" v-model="nota">
    <p v-if="nota >= 9 && nota <= 20"> muy buena calificación: {{nota}} </p>
    <p v-else-if="nota >= 20"> excelente calificación: {{nota}} </p>
    <p v-else> reprobado, por que tu calificación es: {{nota}} </p>
    <hr>

    <p>variables normales</p>
    <h1>{{ texto }}</h1>
    <h3 v-text="texto"></h3>
    <hr>
    
    <p>two way data binding / bidireccional</p>
    <input type="text" v-model="nombre">
    <p> {{ nombre }} </p>
    <hr>

    <p>imprimit arreglo</p>
    <pre> {{ $data }} </pre>



  </main>
    
  <script src="https://unpkg.com/vue@2.5.3/dist/vue.js"></script>
  <script src="js/main.js"></script>
</body>
</html>